### CONFIGURATION FILE FOR GBASTOOLKIT ###
# Precede your comments with a #-sign.
#
# Set the directory variables, the order doesn't matter.
# Don't end the directory variables with '/' (forward-slash)!
#
# REQUIRED: Path_to where the software resides on the server. 
SOFTWARE="/hpc/local/CentOS7/dhl_ec/software"
PLINK="${SOFTWARE}/plink_v1.9"
LOCUSZOOM="${SOFTWARE}/locuszoom"
#
# REQUIRED: Path_to where GBASTOOLKIT resides on the server. 
GBASTOOLKITDIR="${SOFTWARE}/GBASToolKit"
SCRIPTS="${GBASTOOLKITDIR}/SCRIPTS"
RESOURCES="${GBASTOOLKITDIR}/RESOURCES"
#
# REQUIRED: Path_to where the main gene-based analysis directory resides.
PROJECTDIR="/hpc/dhl_ec/svanderlaan/projects/consortia/GWAS_PotassiumSodium/gene_based"
#
# REQUIRED: Name of the project.
PROJECTNAME="POTSOD"
#
# REQUIRED: Name of (sub)project -- this will be used to create subfolders within the 
# OUTPUTDIR. This could be name of a specific (sub-) analysis of the GWAS, for instance
# sex-stratification, or correction for cov1+cov2 (model1) vs. cov1+cov2+cov3 (model2).
SUBPROJECTDIRNAME="NORMAL"
#
# REQUIRED: Path_to where the main gene-based analysis output directory resides.
OUTPUTDIRNAME="RESULTS"
# 
# REQUIRED: Path_to the original GWAS data resides.
DATA_UPLOAD_FREEZE="${PROJECTDIR}/DATA_UPLOAD_FREEZE"
#
# REQUIRED: QSUB settings -- ONLY change what is indicated.
# Run time
QRUNTIME="01:00:00"
QRUNTIMEPARSER="01:00:00"
QRUNTIMEHARMONIZE="01:00:00"
QRUNTIMEWRAPPER="01:00:00"
QRUNTIMECLEANER="01:30:00"
QRUNTIMEPLOTTER="01:30:00"
QRUNTIMEMETAPREP="01:00:00"
QRUNTIMEANALYZER="01:00:00"
QRUNTIMECLUMPER="01:00:00"
QRUNTIMEVEGAS="24:00:00"
QRUNTIMEMAGMA="24:00:00"
# Run memory
QMEM="4G"
QMEMPARSER="12G"
QMEMHARMONIZE="32G"
QMEMWRAPPER="4G"
QMEMCLEANER="12G"
QMEMPLOTTER="12G"
QMEMMETAPREP="48G"
QMEMANALYZER="8G"
QMEMCLUMPER="8G"
QMEMVEGAS="8G"
QMEMMAGMA="8G"
# CHANGE THIS TO YOUR EMAIL
QMAIL="s.w.vanderlaan-2@umcutrecht.nl"
# CHANGE THIS TO YOUR PREFERENCE
# Options: b (begin), e (end), a (abort), s (start), n (no email); combine, e.g. "ea"
QMAILOPTIONS="a"
# 
# REQUIRED: GWAS dataset quality control settings.
# GWASQC -- indicate whether quality control should be applied according the below specs [YES/NO]
# MAF    -- minimum minor allele frequency to keep variants, e.g. "0.005"
# MAC    -- minimum minor allele count to keep variants, e.g. "30"
# HWE    -- Hardy-Weinberg equilibrium p-value at which to drop variants, e.g. "1E-6"
# INFO   -- minimum imputation quality score to keep variants, e.g. "0.3"
# BETA   -- maximum effect size to allow for any variant, e.g. "10"
# SE     -- maximum standard error to allow for any variant, e.g. "10"
GWASQC="NO"
MAF="0.005"
MAC="30"
HWE="1E-3"
INFO="0.3"
BETA="10"
SE="10"
#
# REQUIRED: chunk size of data for parallelization, minimum should be 125000
CHUNKSIZE="125000"
# 
# REQUIRED: general settings for gene-based analyses
# VARIANTID     -- column name with the variantID ### REMOVE
# PVALCOL       -- column name with the p-value of association ### REMOVE
# REFERENCE     -- HM2/1Gp1/1Gp3/GoNL4/GoNL5/1Gp3GONL5
# POPULATION    -- dependent on the REFERENCE chosen [HM2/1Gp1/1Gp3/GoNL4/GoNL5/1Gp3GONL5]:
#                  HM2			-- EUR/AFR/JPT/CHB
#                  1Gp1		    -- PAN/AFR/AMERICA/ASIAN
#                  1Gp3		    -- PAN/EUR/AFR/AMERICA/EAS/SAS
#                  GoNL4		-- PAN
#                  GoNL5		-- PAN
# VARIANTID="Marker" ### REMOVE
# PVALCOL="P" ### REMOVE
REFERENCE="1Gp1"
POPULATION="EUR"
#
# REQUIRED: VEGAS/VEGAS2 settings.
# VEGAS2DIR       -- where the VEGAS2 directory resides
# VEGAS2          -- the VEGAS2 program relative to the VEGAS2 directory
# VEGAS2POP       -- the file name of the reference to use
# VEGAS2UPPER     -- the upper-limit of the gene-boundary
# VEGAS2LOWER     -- the lower-limit of the gene-boundary
# VEGAS2GENELIST  -- directory and filename of the gene-list to use; we advise the ones created by 'resource.creator.sh'
VEGAS2DIR="${SOFTWARE}/VEGAS2offline"
VEGAS2="${VEGAS2DIR}/vegas2.pl"
VEGAS2POP="${SOFTWARE}/MetaGWASToolKit/RESOURCES/1000Gp1v3_EUR/1000Gp1v3.20101123.EUR"
VEGAS2UPPER="50000"
VEGAS2LOWER="50000"
VEGAS2GENELIST="${RESOURCES}/gencode_v19_GRCh37_hg19_Feb2009.txt"
#
# REQUIRED: MAGMA settings.
# MAGMAGENES			-- which genes to use [OPTIONS: NCBI36.3/NCBI37.3/NCBI38]
# MAGMAPOP				-- which population reference to use [OPTIONS: g1000_afr/g1000_eur/g1000_eas/g1000_amr/g1000_sas]
# MAGMADBSNP			-- which dbSNP data to use [OPTION: dbsnp147]
# MAGMASYNONYM			-- "drop-dup", drop duplicate genes
# MAGMANCOL				-- "NOBS", number of observations
# MAGMAGENESETS			-- which gene-set to use [OPTIONS: msigdb.v6.0.entrez.gmt/msigdb.v6.0.symbols.gmt]
MAGMADIR="${SOFTWARE}/magma"
MAGMA="${MAGMADIR}/magma"
MAGMAGENES="${MAGMADIR}/NCBI37.3/NCBI37.3.gene.loc"
MAGMAPOP="${MAGMADIR}/g1000_eur/g1000_eur"
MAGMADBSNP="${MAGMADIR}/dbsnp147/dbsnp147.synonyms"
MAGMASYNONYM="drop-dup"
MAGMANCOL="NOBS"
MAGMAGENESETS="${MAGMADIR}/msigdb/msigdb.v6.0.entrez.gmt"
